* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303434;
}
.order-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cancel-container {
    display: none;
}
.order-alert,
.cancel-alert {
    margin-top: -100%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 25%;
    transition: 0.5s all;
}
.cancelButton-and-timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .order-alert {
        width: 100%;
        left: 0;
    }
    .typeLabel {
        font-size: 19px !important;
    }
    .billie,
    .album {
        width: 100%;
    }
}
